<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Meta Data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="에즈넷" />
    <meta property="og:description" content="주식회사 에즈넷입니다." />
    <meta property="og:image" content="/images/favicon_36x36.png" />
    <meta property="og:url" content="http://www.asnet.co.kr" />
    <title>시험정보 관리</title>
    <!-- header, side, footer, main CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet"> 
    <!-- script -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <!-- icon -->
    <link rel="stylesheet" href="/src/main/resources/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
      body{
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-light shadow-sm p-2 bg-white">
      <a href="/src/main/resources/static/templates/admin_exam_info/admin_exam_info_list.html" class="navbar-brand">OX퀴즈 관리자페이지</a>
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">
                <img src="/src/main/resources/static/images/3.jpg" alt="" style="border-radius:50%; width: 50px;" >
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">로그아웃</a>
                <a class="dropdown-item" href="#">마이페이지</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">일정보기</a>
              </div>
            </li>
          </ul>
        </li>
      </div>
    </nav>
    <div class="wrapper d-flex" style="height: 1200px">
      <!--사이드바 내용-->
      <div class="sidebar col-sm-2 d-block h-100 bg-dark">
        <nav class="" id="sidebarMenu">
          <div class="sidebar pt-4 bg-dark">
            <ul class="nav flex-column">
              <li class="nav-item m-1">
                <a class="nav-link text-white" href="#"><i class="fas fa-users"></i> &nbsp;사용자관리 <i class="fas fa-caret-right float-right mt-1"></i>
                </a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link text-white" href="/src/main/resources/static/templates/admin_exam_info/admin_exam_info_list.html"> <i class="fas fa-book"></i>&nbsp; 시험정보관리 
                  <i class="fas fa-caret-right float-right mt-1"></i></a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link text-white" href="#"> <i class="fas fa-book-open"></i>&nbsp; 시험문제관리 
                  <i class="fas fa-caret-right float-right mt-1"></i></a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link text-white" href="#"> <i class="fas fa-robot"></i>&nbsp; OX퀴즈관리 
                  <i class="fas fa-caret-right float-right mt-1"></i></a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link text-white" href="#"> <i class="fas fa-building"></i>&nbsp; 건물관리 
                  <i class="fas fa-caret-right float-right mt-1"></i></a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link text-white" href="#"> <i class="far fa-question-circle"></i>&nbsp; 퀘스트관리 
                  <i class="fas fa-caret-right float-right mt-1"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!--본문 내용-->
      <div class="page-wrapper w-75 p-1 m-4 float-right d-block">
        <h2 class="main-title m-2">시험정보 관리</h2>
        <br />
        <div class="btn-search-bar d-flex justify-content-between ">
          <div class="search-bar">
            <form class="form-inline d-flex md-form form-sm active-pink-2 mt-2">
              <input
                class="form-control form-control-sm mr-3 w-75"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
              <i class="fas fa-search" aria-hidden="true"></i>
            </form>
          </div>
          <div class="btn-bar float-right">
            <button type="button" class="btn btn-dark m-1">시험정보 등록</button>
          </div>
        </div>

        <table class="table table-striped ">
          <thead>
            <th>시험번호</th>
            <th>공시이름</th>
            <th>시험과목</th>
            <th>시험내용</th>
            <th>등록일</th>
          </thead>
          <tr>
            <td>111</td>
            <td><a href="/src/main/resources/static/templates/admin_exam_info/admin_exam_info_detail.html">홍길동</a></td>
            <td>2020-10-07</td>
            <td>한국사</td>
            <td>etc</td>
          </tr>
        </table>
        <div class="pagenation pt-3 float-left">
        <nav>
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">이전</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">다음</a>
            </li>
          </ul>
        </nav>
      </div>
      </div>
      
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-light pt-1">
      <div class="footer-copyright text-center py-3 bg-light">
        주식회사 에즈넷 asnet Co.,Ltd.<br>
        (04795)서울시 성동구 아차산로7나길 18 에이팩센터 301호&nbsp;<br>TEL:(02)476-8980&nbsp;FAX:(02)6280-8507&nbsp;EMAIL:help@asnet.co.kr
        <a href="http://www.asnet.co.kr">asnet.co.kr</a>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  </body>
</html>
